.vp-player-layout{
    left: initial;
    top: initial;
    width:100%;
    height:100%;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
    height: 50vh;
    color: white;
    background-position: center;
    background-size: cover;
}

.feature:hover{
    background-size: 241%;
}

.featureBtn{
    font-weight: bold;
    border: 3px solid white;
    padding: 0 40px;
    font-size: 17px;
    font-family: sans-serif;
    cursor: pointer;
    transition: background-color 0.5s, color 0.4s;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    /* flex: 1; */
}

.featureBtn:hover{
    background-color: pink;
    color: black;
}

.featureTitle{
    font-size: 2.22em;
    font-family: sans-serif;
    text-align: center;
}

.featureContainer{
    max-width: 85%;
    flex-direction: column;
    align-items: center;
}